


api.milldev.click {
  reverse_proxy server:5000 {
    header_down Strict-Transport-Security max-age=31536000;
   }
}

front.milldev.click {
  reverse_proxy frontend:3000 {
    header_down Strict-Transport-Security max-age=31536000;
   }
}
